@mixin boxmodel() {
	margin: 10px;
	padding: 10px;
	border: 10px solid black;
}

:root {
	--main-color: #ffaaaa;

	--border-width: 3px;
}

body {
	background-color: var(--main-color);

	@include boxmodel();
}

.klass2 {
}

#hello {
}

h2 + p {
}

h3 ~ p {
}

p a {
}

p {
	background-color: black;

	color: white;

	@include boxmodel();

	> a {
		background-color: blue;

		color: azure;

		@include boxmodel();
	}
}

// p > a {
// }

a:hover {
}

.flex-parent {
	height: 10rem;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	background-color: lime;
	border: calc(2 * var(--border-width)) solid black;
}

.flex-child {
	padding: 1em;

	background-color: magenta;
	border: var(--border-width) solid black;

	color: var(--main-color);
	font-size: 2rem;
}
